@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a,
.btn {
  transition: all 300ms ease;
}

/* nav-bar */
#nav-bar {
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: rgb(53, 53, 53, 0.8);
  backdrop-filter: blur(6px);
  border-radius: 3rem;
  color: white;
  padding: 0.5rem 1.5rem;
  min-height: 2rem;
}

#nav-icon {
  font-size: 2rem;
  display: none;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  align-items: center;
}

.nav-links a {
  color: white;
  vertical-align: middle;
}

.nav-links li {
  display: flex;
  height: 100%;
  margin: 0;
}

a {
  color: black;
  font-size: 1.3rem;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: white;
}

.logo {
  font-size: 1.3rem;
  font-weight: 600;
  text-wrap: nowrap;
  color: white;
}

.logo:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #nav-bar #nav-icon {
    display: block;
    cursor: pointer;
  }
  .nav-links {
    position: absolute;
    top: 100%;
    margin-top: 1rem;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(53, 53, 53, 0.8);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 1.5rem;
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  }

  .nav-links li {
    padding: 1rem;
    justify-content: center;
  }

  .nav-links li a {
    font-size: 1rem;
  }

  .nav-links.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  #nav-bar {
    gap: 60vw;
  }
  #nav-bar .logo {
    font-size: 1.2rem;
  }
}

/* video */

.video-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 85%;
  max-width: 720px;
  max-height: 720px;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  margin: 6rem 0;
  background: black;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
